.html{
  scroll-behavior: smooth;
  overflow-y: scroll;
}  

.body{  
  font-family: Sans-serif, Arial;     
  padding: 0;
  margin: 0;
  font-size: 16px;
  background:#0a0a0a; 
}

/* ===========================
    Navigation 
============================ */

.main-container{
  background-size: cover;
  padding-top: 22px;
  z-index: 3;  
  background: url(../assets/img-02.png) no-repeat center, linear-gradient(307deg, transparent 0%, transparent 10%,rgba(190, 190, 190,0.04) 10%, rgba(190, 190, 190,0.04) 64%,transparent 64%, transparent 100%),linear-gradient(118deg, transparent 0%, transparent 11%,rgba(190, 190, 190,0.04) 11%, rgba(190, 190, 190,0.04) 31%,transparent 31%, transparent 100%),linear-gradient(73deg, transparent 0%, transparent 22%,rgba(190, 190, 190,0.04) 22%, rgba(190, 190, 190,0.04) 90%,transparent 90%, transparent 100%),linear-gradient(156deg, transparent 0%, transparent 51%,rgba(190, 190, 190,0.04) 51%, rgba(190, 190, 190,0.04) 97%,transparent 97%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0)) no-repeat center; 
}

.container{
  max-width: 1167px;
  margin-left: auto;
  margin-right: auto;
  padding: 0; 
  overflow: hidden; 
  height: 100%; 
}

.header{
  display: flex;
  justify-content: space-between;
  height: 57px;
  width: 100%;
  position: fixed; 
  z-index: 99;
}

#nav-bar{
  display: block;
  position: relative;
  top: 18.99px;
  left: 30px; 
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
}

.header__checkbox{
  display: block;
  width: 40px;
  height: 32px;
  line-height: 57px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

.nav-bar__spinner{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 1px; 
  -webkit-transform-origin: 4px 0px;
  -moz-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
   background: #f5f5f5; 
  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                      -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;                   
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  z-index: 1;  
}

.nav-bar__spinner:first-child{
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.nav-bar__spinner:nth-last-child(2){
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.header__checkbox:checked ~ .nav-bar__spinner{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -moz-transform: rotate(45deg) translate(-2px, -1px); 
  transform: rotate(45deg) translate(-2px, -1px);
  background:#f5f5f5;
}

.header__checkbox:checked ~ .nav-bar__spinner:nth-last-child(3){
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -moz-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

.header__checkbox:checked ~ .nav-bar__spinner:nth-last-child(2){
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -moz-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
} 

.menu{
  position: absolute; 
  width: 232px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 40px;
  padding-left: 80px;
  padding-top: 100px;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background: url(../assets/img-13.png) #000 no-repeat;
}

.header__checkbox:checked ~ .menu{
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.menu__item{
  font-family: sans-serif;
  text-align: right;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.menu__link{
  text-decoration: none;
  color:#cdcdcd;
} 

.menu__link:hover{
  color: #9c9c9c;  
  cursor: pointer;
}

.logo{
  height:50px;
  width:50px; 
  padding-top: 0;
  margin-right: 20px;
}  

.logo__main{
  height:57px;
  width:49px; 
}  

/* ===========================
    Masthead 
============================ */

.main-title{
  padding-bottom: 158px;
  color: #fff;
  max-width: 549px;
  padding-left: 20px;
  margin-top: 170px;
  overflow: hidden;
}

.main-title__h1{
  font-family: 'Audiowide', cursive;
  font-size: 52px;
  margin: 0;
  font-weight: 500;
  line-height: 1.33;
  font-style: normal;
  margin-bottom: 10px;
  color:#fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.main-title__paragraph{
  font-size: 18px;
  line-height: 1.33;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 40px;
  max-width: 380px;
}

.button{
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 179px;
  text-transform: uppercase;
  height: 54px;
  border: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  background: #000; 
  font-weight: bold;
  color:#05d5fc;
  text-shadow:0 0 0.4em #000;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition:box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay:  0.2s;
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(5, 213, 252, 0.26);
}

.button:active{
  -webkit-transition-delay: 0.s;
  -moz-transition-delay: 0.s;
  transition-delay: 0s;
  box-shadow: 0 8px 17px 0 rgba(5, 213, 252, 0.26);
}

.main-title--2{
  opacity:0;
  display: none; 
}

/* ===========================
    Products
============================ */

.container-title{
  margin: auto;
  width: 100%;
  padding: 80px 0;
  background: #0a0a0a;
  z-index: 3;   
} 
  
.products-title{
  padding: 10px;
  text-align: center;
  width: 25%;
  margin: auto;
  border: 2px solid #222;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.products-title__h2{
  font-size: 40px;
  color: #fff;
  font-weight: normal;
  padding: 0;
  font-size: 25px;
}

.container-products{
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  background:#0a0a0a;
  z-index: 3; 
}

.products{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 400px;
}

.new{
  display: flex; 
  flex-direction: column; 
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 70%; 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: 14px auto; 
  border: 1px solid #222;
  padding-top: 10px;
  padding-bottom: 0;
}

.new:hover{
  box-shadow: 2px 2px 12px #05d5fc; 
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.new__paragraph{
  font-family: sans-serif; 
  color:#fff;
  line-height: 50px;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px; 
}
  
.new__paragraph--2{
  font-family: sans-serif; 
  font-size: 16px;
}
  
.col-main{         
  padding: 0;
  margin-top: 20px;
  text-align: center; 
  width: 100%;
  margin-bottom: 0;  
}

.col-main__img-1{
  width: 100%;
}

.go-corner{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content:center;
  position: absolute; 
  overflow: hidden;  
  margin-left: 14%; 
  margin-top: .2%;
  height: 40px;
  width: 3%;
  border-radius: 0 10px 0 20px; 
  padding-left:50px;
  cursor: pointer;
  transform: scaleX(0.05);
  transform-origin: right;
  transition: transform 160ms ease-in;
}

.new:hover .go-corner{
  opacity: 1;  
  transform: scaleX(1); 
}

.go-arrow{ 
  color: #05d5fc;
  font-family: courier, sans;
  opacity: 0; 
}

.new:hover .go-arrow{
  opacity: 1;
}

/* ===========================
    Gaming
============================ */

.col-main--logo{
  margin-top: 0;
  background: #0a0a0a; 
  z-index: 3;
  height: auto;
}
       
.col-main__img-1--logo{
  height: auto;
  width: 70%;
} 

.cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  width: 100%;
  height: auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: url(../assets/img-14.png) #0a0a0a  no-repeat  center;
  background-size: cover;
  background-size: 140rem;
  z-index: 3;
}

.card{
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 700px;
  height: 380px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.5); 
  border-radius: 3px;
  background: linear-gradient(307deg, transparent 0%, transparent 10%,rgba(190, 190, 190,0.04) 10%, rgba(190, 190, 190,0.04) 64%,transparent 64%, transparent 100%),linear-gradient(118deg, transparent 0%, transparent 11%,rgba(190, 190, 190,0.04) 11%, rgba(190, 190, 190,0.04) 31%,transparent 31%, transparent 100%),linear-gradient(73deg, transparent 0%, transparent 22%,rgba(190, 190, 190,0.04) 22%, rgba(190, 190, 190,0.04) 90%,transparent 90%, transparent 100%),linear-gradient(156deg, transparent 0%, transparent 51%,rgba(190, 190, 190,0.04) 51%, rgba(190, 190, 190,0.04) 97%,transparent 97%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0)); 
}

.card-text{
  display: block;
  width: 100%;
  -webkit-transform: translate(-30px, -50px); 
  -moz-transform: translate(-30px, -50px); 
  transform: translate(-30px, -50px);
  color: #ffffff;
  width: 60%;
  transform: translate(0px, -60px);
}

.card-title{
  font-family: sans-serif; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.card-title--h1{
  font-weight: 700;
  margin: 0 0 15px 0;
}

.card-paragraph{
  text-align: left;
  line-height: 1.8;
  font-size: .9rem;
  font-weight: normal;
  text-shadow: 0 0 0.4em #000;  
}

.card-img{
  display: block;
  width: 40%;
  height: 73.5%;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  transform: translateY(-50px);
  position: relative;
  overflow: visible;
}

.card-img__1{
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center; 
  left: -5%; 
}

.container-buttons{
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 660px;
  height: 90px;
  overflow: hidden;
  z-index: -1;
}

.button--card-1{
  margin: 0 20px 0 0;
}

.button--card-2 {
  color: rgb(107, 228, 26);
  margin: 0 20px 0 0;
  background: #000;
  box-shadow: 0 2px 5px 0 rgba(107, 228, 26, 0.26);
}

.button--card-2:active {
  box-shadow: 0 8px 17px rgba(107, 228, 26, 0.26);
}

.card--2{
  margin-top: 60px;
}

/* ===========================
    Social
============================ */

.icons-social{
  padding: 5px;
}

.list-social{
  text-align: center;
  padding: 0;
}

.icons-social__item{
  display: inline-block;
}

.icons-social__link{
  cursor: pointer;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #444;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0px 5px;
  font-size: 20px;
  box-shadow: 0 5px 4px rgba(73, 55, 235, 0.8); 
  -webkit-transition: .2s linear;
  transition: .2s linear; 
}

.icons-social__link:hover{
  box-shadow: 0 0 0 rgba(37, 40, 45, 0); 
}

/* ===========================
    Footer
============================ */

.footer{
  margin-bottom: 212px;
  background:#000;
  z-index: 3;
}

.section-footer{
  color: #fff;
  padding: 4rem 0;
  width: 100%;   
  overflow: hidden;
}

.container-footer{
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; 
  width: 98.3%;
}

.col-main__img-1--logo-2{
  width: 100px;
  height: 100px;
}

.footer__h3{
  margin-bottom: 0.7rem;
}

.ul-footer{
  list-style: none;
} 

.ul-footer__li{
  color: #000;
  margin-left: -39px;
}

.ul-footer__a{
  line-height: 1.9;
  color: #ccc;
  text-decoration: none; 
}

.footer-2{
  color: #444;
  padding: 40px 0;
  text-align: center;
  width: 100%; 
  position: fixed; bottom: 0; 
  background: #000;
  z-index: -99;
}

.container-footer__link{
  color: #444;
  text-decoration: none;
}

.container-footer__link:hover{
  color: #333;
}

/* ===========================
    Responsive
============================ */

@media (min-width: 1280px){
  .main-container{
    background-size: contain;
  }

  .container{
    max-width: 1440px;
  }
}

@media (max-width: 1000px){
  .products{
    height: 350px;
  }

  .col-main{         
    margin-top: 0;
  }
}

@media (max-width: 800px){
  .container-title{
    padding: 68px 0;   
  } 
    
  .products{
    height: 310px;
  }

  .products-title{
    width: 35%;
  }

  .go-corner{
    margin-left: 13.16%;
  }

  .cards-container{
    padding: 59px 0;
  }

  .card{
    width: 644px;   
    height: 312px;
    background-size: 23rem;
  }

  .button--card-1{
    margin: 0 16px 0 0;
  }

  .section-footer{
    padding: 2rem 0;
  }
  
  .container-footer{
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px){
  .main-container{   
    height: 70vh;
    background:url(../assets/img-02.png) #d3d3d3 no-repeat center;
    background-size: contain;
  }

  .main-title{
    opacity: 0;
  } 

  .button{
    margin: 10px auto;
  }

  .main-title--2{
    opacity: 1;
    display: block; 
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0; 
    padding: 25px;
    background: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
  }

  .main-title__h1--2{
    margin: 0 auto; 
    width: 80%;
    line-height: 1;
  }

  .main-title__paragraph--2{
    margin: 10px auto;  
    margin-bottom: 25px;
    line-height: 1.5;
    width: 90%;
  }

  .container-products{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .products{
    height: 416px;
    width: 100%;
  }

  .new{
    width: 50%; 
  }
 
  .go-corner{
    margin-left: 39%;
  }

  .col-main{         
    height: 260px;
  }
          
  .col-main__img-1{
    width: 72%;    
  }
      
  .col-main--logo{
    height: auto; 
  }
           
  .card{
    width: 70%;  
    height: 630px;
    display: block;
  }

  .card-text{
    width: 100%; 
    transform: translate(0px, 280px);
  }

  .card-img{
    transform: translateY(-160px);
    width: 70%;
    height: 42%;
  }
            
  .card-img__1{
    width: auto;
  }
    
  .container-buttons{
    bottom: 35px;
    justify-content: center;
    display: block;
    width: auto;
    height: auto; 
  }
    
  .button{
    width: 251px;
  } 
    
  .button--card-1{
    margin: 25px; 
  }
    
  .button--card-2{
    margin: 25px; 
  } 

  .col-main--logo-2{
    height: auto;
    margin-top: 15px; 
  }
            
  .col-main__img-1--logo-2{
    width: 100px;
    height: 100px;
  }
  
  .footer__h3{
    margin: 2rem;
  }      
}

@media (max-width: 768px) and (max-height: 450px){ 
  .main-container{
    height: 100vh; 
  }

  .products{
    height: 374px;
  }

  .go-corner{
    margin-left: 39%;
  }

  .col-main{         
    height: 234px; 
  }

  .col-main--logo{
    height: auto; 
  }

  .container-buttons{
    bottom: 25px;
  }

  .button{
    width: 233px;
  } 

  .col-main--logo-2{
    height: auto;
  }
        
  .col-main__img-1--logo-2{
    width: 100px;
    height: 100px;
  }
} 

@media (max-width: 736px) and (height: 414px){ 
  .products{
    height: 416px;
  }

  .go-corner{
    margin-left: 39%;
  }

  .col-main{         
    height: 260px;
  }

  .col-main--logo{
    height: auto; 
  }

  .col-main--logo-2{
    height: auto;
  }
        
  .col-main__img-1--logo-2{
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 700px){
  .main-container{   
    height: 70vh;
  }
}

@media (max-width: 600px){
  .products{
    height: 374px;
  }

  .go-corner{
    margin-left: 39%;
  }

  .col-main{         
    height: 234px;
  }

  .col-main--logo{
    height: auto; 
  }

  .container-buttons{
    bottom: 25px;
  }

  .button{
    width: 233px;
  } 
  
  .col-main--logo-2{
    height: auto;
  }
        
  .col-main__img-1--logo-2{
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 533px) and (height: 320px){ 
  .products{
    height: 330px;
  }

  .go-corner{
    margin-left: 37%;
  }
}

@media (max-width: 480px) and (height: 854px){
  .products-title{
    width: 45%;
  }

  .products{
    height: 315px;
  }

  .go-corner{
    margin-left: 36%;
  }

  .col-main{         
    height: 220px;
  }

  .col-main--logo{
    height: auto; 
  }

  .col-main--logo-2{
    height: auto;
  }
        
  .col-main__img-1--logo-2{
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) and (height: 320px){
  .products{
    height: 311px;
  }

  .go-corner{
    margin-left: 36%;
  }
}

@media (max-width: 450px){
  .products-title{
    width: 45%;
  }
  
  .products{
    height: 300px;
  }
  
  .go-corner{
    margin-left: 36%;
  }
  
  .col-main{         
    height: 210px;
  }
  
  .col-main--logo{
    height: auto; 
  }
  
  .col-main--logo-2{
    height: auto; 
  }
          
  .col-main__img-1--logo-2{
    width: 80px;
    height: 80px;
  }
}
  
@media (max-width: 414px) and (min-height: 736px){
  .container-title{
    padding: 72px 0;
  } 
  
  .products-title{
    width: 50%;
  }

  .products{
    height: 285px;
  }
  
  .go-corner{
    margin-left: 36.5%;
  }
  
  .col-main{         
    height: 200px;
  }
  
  .col-main--logo{
    height: auto; 
  }
  
  .card-text{
    transform: translate(0, 245px);
  }
  
  .card-img{
    transform: translateY(-200px);
  }
  
   .col-main--logo-2{
     height: auto;
  } 
}

@media (max-width: 412px){
  .container-title{
    padding: 72px 0;
  } 
      
  .products-title{
    width: 50%;
  }
  
  .card-text{
    transform: translate(0, 245px);
  }
  
  .card-img{
    transform: translateY(-200px);
  }
} 
  

@media (max-width: 384px){
  .container-title{
    padding: 56px 0;
  } 

  .products-title{
    width: 50%;
  }

  .products{
    height: 285px;
  }

  .go-corner{
    margin-left: 35%;
  }
}

@media (max-width: 360px){
  .products{
    height: 270px;
  }
}

@media (max-width: 320px){
  .products-title{
    width: 60%;
  }

  .products{
    height: 283px;
  }

  .go-corner{
    margin-left: 34%;
  }

  .col-main{         
    height: 210px;  
  } 

  .col-main__img-1{
    width: 86%;
  }
     
  .col-main--logo{
    height: auto; 
  }

  .card-text{
    transform: translate(0, 225px);
  }
 
  .card-img{
    transform: translateY(-220px);
  } 

  .card-img__1{
    left: -14%;
  } 

  .col-main--logo-2{
    height: auto;
  }
        
  .col-main__img-1--logo-2{
    width: 80px;
    height: 80px; 
  } 
}